<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="test" value="pq9u35b" />
  </appSettings>
  <dataSettings>
    <add key="data64" value="64 63 54 67 54 84" />
  </dataSettings>
</configuration>