<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serverSettings" type="System.Configuration.AppSettingsSection" />
    <section name="dataSettings" type="System.Configuration.AppSettingsSection" />
    <section name="appData" type="Gucu112.ConfigurationHelper.Sections.AppData.AppDataSection, ConfigurationHelper" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatabaseName;Connect Timeout=3;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <!-- Application settings -->
    <add key="ApplicationEnvironment" value="%ENV%" />
    <add key="DefaultCulture" value="en-US" />
    <!-- AppSettings(Generic)Test data -->
    <add key="TestString" value="pq9u35b" />
    <add key="TestBool" value="true" />
    <add key="TestByte" value="69" />
    <add key="TestChar" value="$" />
    <add key="TestDouble" value="99.99" />
    <add key="TestFloat" value="6.6" />
    <add key="TestInt" value="0" />
    <add key="TestLong" value="4294967296" />
    <!-- AppSettingsGeneric(NotDefined)EnumTest data -->
    <add key="TestDefinedEnum" value="Six" />
    <add key="TestPositiveNumericEnum" value="10" />
    <add key="TestNegativeNumericEnum" value="-1" />
    <add key="TestNonPositiveNumericEnum" value="0" />
    <add key="TestNotDefinedNumericEnum" value="60" />
    <add key="TestNotDefinedEnum" value="None" />
    <!-- AppSettings(Not)EqualEnvironmetVariableKeyTest data -->
    <add key="TestEnvVarEqual" value="%TestEnvVarEqual%" />
    <add key="TestEnvVarIgnoreCase" value="%testEnvVarIGNORECASE%" />
    <add key="TestEnvVarUppercase" value="%TEST_ENV_VAR_UPPERCASE%" />
    <add key="TestEnvVarNotExisting" value="%NotExistingEnvVar%" />
  </appSettings>
  <serverSettings>
    <add key="SecureShellAddress" value="192.168.0.1" />
    <add key="DatabaseName" value="DatabaseName" />
    <add key="DatabasePassword" value="%DB_PASS%" />
  </serverSettings>
  <dataSettings>
    <add key="DataFolder" value="C:\Data\%DATA_DIR%" />
    <add key="Data64Value" value="64 63 54 67 54 84" />
    <add key="DataBool" value="false" />
    <add key="DataByte" value="42" />
    <add key="DataChar" value="^" />
    <add key="DataDouble" value="4.2" />
    <add key="DataFloat" value="4.20" />
    <add key="DataInt" value="-1" />
    <add key="DataLong" value="-4294967296" />
  </dataSettings>
  <appData>
    <add key="EmptyValue" />
    <add key="Value" value="123" />
    <add key="TemporaryFolder" value="%TEMP%" />
    <add key="EmptyElementCollection"></add>
    <add key="SingleElementList">
      <add value="Test" />
    </add>
    <add key="MultipleElementsList">
      <add value="1.3" />
      <add value="2.6" />
      <add value="3.9" />
    </add>
    <add key="SingleElementDictionary">
      <add key="Key" value="Value" />
    </add>
    <add key="MultipleElementsDictionary">
      <add key="First" value="1" />
      <add key="Second" value="2" />
      <add key="Third" value="3" />
    </add>
  </appData>
</configuration>
