<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="DatabaseConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatabaseName;Connect Timeout=3;Integrated Security=True;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="TestString" value="pq9u35b"/>
  </appSettings>
  <dataSettings>
    <add key="Data64Value" value="64 63 54 67 54 84"/>
  </dataSettings>
</configuration>
